{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% block title %}
		{% endblock %}

		<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/bootstrap.min.css' %}">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
	</head>
	<body>
		
		{% include 'blogs/header.html' %}

		{% block content %}

		{% endblock %}

		{% include 'blogs/footer.html' %}


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'blogs/js/bootstrap.min.js' %}"></script>
	</body>
</html>